/* О нас */
.about__wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

.about__content {
  flex: 1;
}

.about__text p {
  font-family: var(--osn-tekst-pk-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--osn-tekst-pk-font-size, 18px);
  line-height: 1.6;
  margin-bottom: 20px;
}

.about__image {
  flex: 1;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}


/* Контейнер коллажа на 6 фото */
.about__collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px);
  gap: 0px;
  width: 100%;
  max-width: 600px;
  border: 1px solid #d35100;
  border-radius: 4px;      
}

/* Элемент сетки */
.about__collage-item {
  position: relative;
  overflow: hidden;      
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #d35100;
}

/* Сами изображения внутри ячеек */
.about__collage-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;
  transition: transform 0.3s ease;
}

/* Эффект при наведении мыши */
.about__collage-item:hover img {
  transform: scale(1.05);               
}


/* --- Адаптивность под мобильные устройства --- */

@media (max-width: 992px) {
  .about__collage {
    max-width: 100%;
    margin-top: 30px;
    grid-template-rows: repeat(2, 180px);
  }
}

@media (max-width: 576px) {
  .about__collage {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 130px);
    gap: 0px; 
  }
}