/* Контакты */
.contacts__wrapper {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.contacts__info {
  flex: 1;
}

.contacts__address {
  font-style: normal;
  font-family: var(--osn-tekst-pk-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--osn-tekst-pk-font-size, 18px);
  line-height: 1.8;
}

.contacts__address a {
  color: var(--white, #ffffff);
  border-bottom: 1px dashed var(--orange, #f07900);
}

.contacts__map {
  width: 90%; 
  max-width: 800px; 
  margin: 40px auto; 
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid var(--orange, #f07900);
}


.contacts__map iframe {
  width: 100% !important; 
  display: block;
}

@media (max-width: 768px) {
  .contacts__map {
    margin: 20px 0; 
    width: 100%;
  }

  .contacts__map iframe {
    height: 350px; 
  }
}


